section.section.section_light.swiper-slide(class=`section_create`)
    .section__wrapper
        .section__row.section__row_fullheight
            .section__col.section__col_left
                .card.card_left.card_top_50
                    .card__inner(style="background-image:url(./img/card-img-2.jpg")
                        .card__title andruban — мебель  иных реальностей
                    .card__wrapper.card__mini-slider.mini-slider.swiper-container
                        ul.mini-slider__body.swiper-wrapper
                            each index in Array(5)
                                li.swiper-slide
                                    h4.h4.mini-slider__title Кухня «Современная классика»
                                    h5.h5.mini-slider__subtitle от 60 000 ₽
                                    p.p.p_font_light.mini-slider__description Угловая кухня среднего размера в стиле современная классика с обеденным столом, накладной раковиной, фасадами с утопленной филенкой, столешницей из ламината, фартуком из дерева.
                        .mini-slider__control
                            button.mini-slider__arrow_prev
                                +icon('arrow-left', 'arrow-h')
                            .mini-slider__pagination
                            button.mini-slider__arrow_next
                                +icon('arrow-right', 'arrow-h')
                        button.btn.btn_large.btn_primary.btn_wide.h6 Хочу кухню
            .section__col.section__col_right.section__col_flex
                .title.title_card.section__title
                    h2.h2 Мы создаем мебель
                    h4.h4 Любых стилей
                .top-slider.top-slider_left
                    .top-slider__header
                        p.p.p_font_light.top-slider__description AndRuban — мастерская по изготовлению современной, удобной и практичной мебели, выполненной из лучших материалов. Мы способны воплотить в жизнь самый смелый дизайн. Работаем в стиле фьюжн и производим мебель иных реальностей.
                        ul.tabs(data-tabs)
                            each index, val in ['Кухни', 'Прихожие', 'Гостинные', 'Детские', 'Гостинные', 'Детские']
                                if val === 0
                                    li.tabs__item.tabs__item_active
                                        span(data-tabs-item)= index
                                else
                                    li.tabs__item
                                        span(data-tabs-item)= index
                            span.tabs__underline(data-tabs-underline)
                    .top-slider__footer
                        button.top-slider__btn.btn.btn_rect.btn_transparent_primary.btn_uppercase
                            +icon('eye', 'btn__icon')
                            span.btn__title смотреть оригинал фото
                        .swiper-container.top-slider__slider
                            .top-slider__control
                                button.top-slider__arrow_prev
                                    +icon('arrow-left', 'arrow-h')
                                .top-slider__pagination
                                button.top-slider__arrow_next
                                    +icon('arrow-right', 'arrow-h')
                            ul.swiper-wrapper
                                each index, val in Array(5)
                                    li.swiper-slide.light-mask
                                        picture
                                            source(srcset=`./img/create-thumb-${val + 1}.webp`)
                                            img(src=`./img/create-thumb-${val + 1}.jpg` alt="")
                                    li.swiper-slide.light-mask
                                        picture
                                            source(srcset=`./img/create-thumb-${val + 1}.webp`)
                                            img(src=`./img/create-thumb-${val + 1}.jpg` alt="")
                                span.swiper-border
    .section__bg-wrapper.section__bg-wrapper_bottom.swiper-container.slider-background
            .section__bg-inner.swiper-wrapper
                each index, val in Array(5)
                    .swiper-slide
                        picture.section__bg.section__bg_grayscale.section__bg_right.section__bg_top.light-mask
                            source(srcset=`./img/create-slider-${val + 1}.webp`)
                            img(src=`./img/create-slider-${val + 1}.jpg` alt="")
                    .swiper-slide
                        picture.section__bg.section__bg_grayscale.section__bg_right.section__bg_top.light-mask
                            source(srcset=`./img/create-slider-${val + 1}.webp`)
                            img(src=`./img/create-slider-${val + 1}.jpg` alt="")
